

 <ngx-spinner type = "ball-clip-rotate-pulse">
    <h3>loading.....</h3>
</ngx-spinner> 
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" 
color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true">
<p style="color: white" > Loading... </p></ngx-spinner>
 -->

<div class="app-container">

  <app-navbar></app-navbar>
  <!-- <app-spinner></app-spinner> -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <p>© 2025 Boya Ashok Kumar. All Rights Reserved.</p>
  </footer>
</div>

<!-- Uncomment and fix the p-toast component -->

<p-toast 
  position="bottom-right"
  [baseZIndex]="5000"
  [showTransitionOptions]="'300ms'"
  [hideTransitionOptions]="'300ms'"
  [life]="3000">
</p-toast>